@import '../../styles/common/inputSelect.scss';
@import '../../styles/common/vars.scss';

.inputs-password-container {
    display: flex;
    padding-bottom: 20px;

    .input-container {
        width: 560px;
    }

    .input__discription {
        max-width: 355px;
        font-family: Arial;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        align-self: end;
        padding-left: 18px;
        color: $advanced-font-color;
    }

    @media screen and (max-width: 952px) {
        flex-direction: column;

        .input__discription {
            align-self: start;
        }
    }

    @media screen and (max-width: 582px) {
        .input-container {
            padding-top: 20px;
            width: 100%;
            align-self: center;
            flex-direction: column;
        }

        .input__discription {
            align-self: center;
        }
    }
}