//Colors
$base-font-color: #000;
$advanced-font-color: #999;
$third-font-color: #666;

$form-error-color: #ff0000;
$submit-button-bg: #71C838;
$details-color: #037BB8;

$status-bg-color: #eaeaea;
$status-text-color: #404040;
